{% from "macros.html" import render_field_bootstrap %}

{% extends "admin/base-admin.html" %}


{% block content %}

<h1><a href="{{ url_for('articles') }}">Articles</a></h1>

<div class="second_nav">
  <ul class="nav nav-pills green_pills">
    <li><a href="{{ url_for('article_add') }}">Add Article</a></li>
  </ul>
</div>


<h1 class="page-header">Article Detail</h1>

<form action="" method="POST">
  {{ form.hidden_tag() }}
  {{ render_field_bootstrap(form.title) }}
  {{ render_field_bootstrap(form.slug) }}
  {{ render_field_bootstrap(form.tag) }}
  {{ render_field_bootstrap(form.visible) }}
  {{ render_field_bootstrap(form.created_at) }}
  {{ render_field_bootstrap(form.body) }}
  {{ render_field_bootstrap(form.submit) }}
</form>

<a href="{{ url_for('article_delete', article_id=article.id) }}" class="btn btn-danger">Delete</a>



{% endblock %}
