{% from "macros.html" import render_field_bootstrap %}

{% extends "base.html" %}


{% block content %}


<div id="middle">
    <div class="container">
        <div class="article_single">
            <div class="article_well">
                <h2 class="article_title">About</h2>
                <p>Python Flask developer currently based in Connecticut. In the past, I spent some time as a bioinformatics researcher.</p>

                <h4>Education</h4>
                <p>University of California San Diego<br>
                Major: Bioinformatics<br>
                Minor: Computer Science</p>

                <h4>Skills</h4>
                <p>
                    Python<br>
                    Flask<br>
                    Postgres<br>
                    MongoDB<br>
                    Redis<br>
                    HTML<br>
                    Javascript<br>
                    LESS CSS<br>
                    Celery<br>
                    Websockets<br>
                    Linux<br>
                    Git and Github<br>
                    Nginx<br>
                    Gunicorn<br>
                    Digital Ocean and Linode<br>
                </p>

                <h4>Publications</h4>
                <p>1. Nadejda Beliakova-Bethell, <strong>Jin X Zhang</strong>, Akul Singhania, Vivian Lee, Valeri H Terry, Douglas D Richman, Celsa A Spina, and Christopher H Woelk. <a class="reference external" href="http://www.ncbi.nlm.nih.gov/pubmed/?term=23221426">Suberoylanilide hydroxamic acid induces limited changes in the transcriptome of primary CD4+ T cells</a>. AIDS 27, 29-37. 2013.</p>
                <p>2. <strong>Jin X Zhang</strong>, Christopher H Woelk, Lorraine Walls, Suganya Viriyakosol, Akul Singhania, Theo N Kirkland, and Joshua Fierer. <a class="reference external" href="http://www.ncbi.nlm.nih.gov/pubmed/?term=23006927">Factors regulated by interferon gamma and hypoxia-inducible factor 1A contribute to responses that protect mice from Coccidioides immitis infection</a>. BMC Microbiology 12:218. 2012.</p>
                <p>3. Josué Pérez-Santiago, Rebeca Diez-Alarcia, Luis F Callado, <strong>Jin X Zhang</strong>, Gursharan Chana, Cory H White, Stephen J Glatt, Ming T Tsuang, Ian P Everall, J Javier Meana, and Christopher H Woelk. <a class="reference external" href="http://www.ncbi.nlm.nih.gov/pubmed/?term=22954356">A combined analysis of microarray gene expression studies of the human prefrontal cortex identifies genes implicated in schizophrenia</a>. Journal of Psychiatric Research 46, 1464-74. 2012.</p>
                <p>4. Brett N Bowman, Paul R McAdam, Sandro Vivona, <strong>Jin X Zhang</strong>, Tiffany Luong, Richard K Belew, Harpal Sahota, Donald Guiney, Faramarz Valafar, Joshua Fierer, and Christopher H Woelk. <a class="reference external" href="http://www.ncbi.nlm.nih.gov/pubmed/?term=21864619">Improving reverse vaccinology with a machine learning approach</a>. Vaccine 29, 8156-64. 2011.</p>

            </div>
        </div>
    </div> <!-- /container -->
</div> <!-- /middle -->

{% endblock %}
