{% from "macros.html" import render_field_bootstrap %}

{% extends "base.html" %}

{% block title %}
{{ article.title }} - {{ config.SITE_TITLE }}
{% endblock %}

{% block content %}


<div id="middle">
    <div class="container">

        <div class="article_single">
            <div class="article_well">
                <h2 class="article_title">{{ article.title }}</h2>
                <p class="article_time">{{ moment(article.created_at).format('ll') }}</p>
                <p class="article_body">{{ article.html | safe }}</p>
            </div>
        </div>


        <!-- Disqus comments -->
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'vincenttide';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        <!-- End:Disqus -->


      </div> <!-- /container -->
</div> <!-- /middle -->


{% endblock %}
