{% from "macros.html" import render_field_bootstrap %}

{% extends "base.html" %}


{% block content %}


<div id="middle">
    <div class="container">
        <div class="article_single">
            <div class="article_well">
                <h2 class="article_title">Contact</h2>
                <p>vincenttide [at] gmail.com</p>

                <br>
                <br>
                <h4><a href="https://github.com/VincentTide" target="_blank">My GitHub</a></h4>
            </div>
        </div>
    </div> <!-- /container -->
</div> <!-- /middle -->

{% endblock %}
